
# Editors, tools and OS's

.buildpath
.htaccess
.project
.settings
.idea
.svn
.DS_Store
.sass-cache
config.codekit
*.sublime-project
*.sublime-workspace
nbproject
bower_components
composer.lock

# Cache, temp and personal files

cache/*
download/*
img/*
log/*
upload/*
vendor/*

4dm1n/autoupgrade/*
4dm1n/backups/*
4dm1n/import/*

themes/*/cache/*
4dm1n/themes/*/cache/*

# Config

config/settings.inc.php
config/settings.old.php
config/xml/*
!config/xml/themes/default.xml

# Themes, modules and overrides

modules/*
override/*

4dm1n/themes/default/sass/ie.sass
4dm1n/themes/default/sass/print.sass
4dm1n/themes/default/sass/screen.sass
4dm1n/themes/default/css/ie.css
4dm1n/themes/default/css/print.css
4dm1n/themes/default/css/screen.css

# Translations and emails templates

translations/*
mails/*
!mails/en/
themes/default-bootstrap/lang/*
themes/default-bootstrap/modules/*/translations/*.php
themes/default-bootstrap/mails/*
!themes/default-bootstrap/mails/en/
themes/default-bootstrap/modules/*/mails/*
!themes/default-bootstrap/modules/*/mails/en

# MISC

*sitemap.xml
robots.txt
